<div class="container-fluid">
  <div class="row row1">
    <div class="content-about">
      <h2 class="intro"><i class="fad fa-map-signs"></i>Giới thiệu</h2>
      <h3 class="nameCompany">{{dataServicesService.introduceCompany.nameCompany}}</h3>
      <span class="nameTrust">{{dataServicesService.introduceCompany.nameTrust}}</span><br>
      <span class="nameIntro">{{dataServicesService.introduceCompany.nameIntro}}</span><br>
      <p>{{dataServicesService.introduceCompany.nameCompany}}  được thành lập năm 20??.
        Tên đầy đủ của công ty là ( <b>{{dataServicesService.introduceCompany.nameCompany}}</b>
        ). Ngày 29/03/2013 công ty chính thức đi vào hoạt động với giấy phép kinh doanh số
        <b>{{dataServicesService.introduceCompany.businessLicense}}</b>.
        Do sở kế hoạch và đầu tư TP Hà Nội cấp.
      </p>
      <p>Tính tới thời điểm năm 20?? , với sự hỗ trợ của các khách hàng, các đối tác kinh doanh và nhân viên .
        Chúng tôi đã mở rộng quy mô kinh doanh và hoạt động trên khắp các tỉnh thành tại Việt Nam.
      </p>
      <p>
        Chúng tôi tin rằng có thể đóng góp nhiều hơn nữa cho sự phát triển của nghành sản
        xuất công nghiệp bao bì, thùng nhựa tại Việt Nam. Để chúng tôi có thể đáp ứng
        hết các nhu cầu của khách hàng một cách nhanh chóng và chính xác, chúng tôi đã tập
        trung đầu tư và cải máy móc hiện đại trong suốt nhiều năm qua. Điều này giúp đảm bảo
        tiến độ sản xuất, chất lượng sản phẩm, sự hài lòng của khách hàng của chúng tôi.
      </p>
      <p>
        Thị trường sản xuất thùng nhựa tại Việt Nam không ngừng lớn mạnh và cạnh tranh ,
        chúng tôi vẫn luôn cần thực hiện các cải tiến như sắp xếp , tinh chỉnh thường
        xuyên tổ chức của công ty mình. Mục tiêu lớn nhất là cải thiện được sự hài lòng của khách hàng ,
        đảm bảo và nâng cấp chất lượng dịch vụ của mình không ngừng tốt hơn.
      </p>
      <ul class="title_commit">
        <p><u class="title-details">Chúng tôi cam kết dịch vụ :</u></p>

        <li>
         <u class="title-details">1. Chất lượng hàng đầu</u>
          <div>
            Đảm bảo cho Quý khách hàng chất lượng hàng thành phẩm tốt nhất, đúng mẫu mã, đúng yêu cầu.
          </div>
        </li>
        <li>
          <u class="title-details">2. Giao hàng đúng hẹn.</u>
          <div>
            Thấu hiểu được việc lên kế hoạch sản xuất, xuất hàng hóa là rất quan trọng đối với Quý Khách Hàng;
            nếu một khâu nào đó bị tắc nghẽn và cả một hệ thống bị ảnh hưởng. Do đó chúng tôi luôn
            chú trọng về kế hoạch sản xuất, tập trung nguyên liệu, bố trí nhân sự… để đảm bảo giao
            hàng cho Quý Khách Hàng đúng hẹn.
          </div>
        </li>
        <li>
          <u class="title-details">3. Giá cả cạnh tranh</u>
          <div>
            Với dây chuyền hiện đại, kinh nghiệm quản lý và đội ngủ tâm huyết. Chúng tôi CAM KẾT cung cấp sản phẩm có
            giá cạnh tranh nhất thị trường.
          </div>
        </li>
        <li>
          <u class="title-details">4. Không phân biệt bạn hàng</u>
          <div>
            Chúng tôi vô cùng cảm kích khi Quý Khách Hàng quan tâm thông tin tới công ty cũng như tìm đến với những sản
            phẩm của chúng tôi. Do đó chúng tôi không có lý do nào để phân biệt đơn hàng Lớn – Nhỏ, <u>mọi đơn hàng</u>
            chúng tôi đều đáp ứng.
          </div>
        </li>
        <li>
          <u class="title-details">5. Hỗ trợ thiết kế – Tư vấn.</u>
          <div>
            Với Uy Tín , Kinh Nghiệm&nbsp;nhiều năm trong nghành , chúng tôi sẻ hổ trợ cho Quý Khách Hàng về thiết kế
            mẫu phù hợp để có sản phẩm &nbsp;tối ưu để giảm giá thành mà chất lượng không bị ảnh hưởng.<br>
            Chúng tôi tự tin&nbsp;sẽ đáp ứng được yêu cầu khó nhất của quý khách hàng.
          </div>
        </li>
      </ul>


      <div class="content-img">
        <img src="{{dataServicesService.linkImg[0].linkImg}}" alt="{{dataServicesService.linkImg[0].nameImg}}">
      </div>


      <ul class="content-commit">
        <li>
          Chúng tôi tự tin sẽ đáp ứng được yêu cầu khó nhất của quý khách hàng.
        </li>
        <li>
          QUÝ VỊ SẼ THỰC SỰ HÀI LÒNG VỀ CHẤT LƯỢNG VÀ DỊCH VỤ MÀ CHÚNG TÔI CUNG CẤP.
        </li>
        <li>Tư Vấn nhiệt tình, báo giá cụ thể, không quản đường gần xa.</li>
      </ul>

      <div class="address">
        <ul>
          <li><b>Địa chỉ</b></li>
          <li><b>Văn phòng:</b> {{dataServicesService.addressCompany.address}}</li>
          <li><b>Nhà máy:</b> {{dataServicesService.addressCompany.factory}}</li>
          <li><b>Điện thoại: </b> {{dataServicesService.addressCompany.phoneNumber}}</li>
          <li><b>Email:</b> {{dataServicesService.infoCompany.email[0]}}</li>
          <li><b>Website:</b> {{dataServicesService.infoCompany.email[1]}}</li>
        </ul>
      </div>

    </div>

  </div>

  <div class="row row2">
    <app-footer-main></app-footer-main>
  </div>
</div>


