@media only screen and (min-width: 1140px) {

}

@media only screen and(max-width: 1139px) and (min-width: 960px) {

}

@media only screen and(max-width: 959px) and (min-width: 720px) {


}

@media only screen and(max-width: 719px) and (min-width: 540px) {

}

@media only screen and (max-width: 539px) {
  .container-fluid{
    .row1{
      .content-about{

        .content-img{
          width: 100%;
          display: flex;justify-content: center;
          padding:10px 0 20px 0;overflow: hidden;
          img{
            background-size: auto;
          }
        }
      }
    }
  }
}
